<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="root-menu" label="Start">
    <item label="Applications">
      <action name="Execute">
        <command>xfce4-appfinder</command>
        <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
    </item>
    <separator label="Daily tools"/>
    <item label="Kitty">
      <action name="Execute"><command>kitty</command></action>
    </item>
    <item label="PCManFM">
      <action name="Execute"><command>pcmanfm</command></action>
    </item>
    <item label="Firefox">
      <action name="Execute">
        <command>firefox</command>
        <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
    </item>
    <item label="Audacious">
      <action name="Execute"><command>audacious</command></action>
    </item>
    <item label="Gajim">
      <action name="Execute"><command>gajim</command></action>
    </item>
    <item label="KeePassXC">
      <action name="Execute"><command>keepassxc</command></action>
    </item>
    <item label="Volume Control">
      <action name="Execute"><command>pavucontrol</command></action>
    </item>
    <separator label="System"/>
    <item label="Reconfigure Openbox">
      <action name="Reconfigure"/>
    </item>
    <item label="Log Out">
      <action name="Exit"><prompt>yes</prompt></action>
    </item>
  </menu>
</openbox_menu>
